Artificial Intelligence/molecule_generation_SMILES/datasets/*.tgz
Artificial Intelligence/molecule_generation_SMILES/datasets/*.smi.gz
Artificial Intelligence/molecule_generation_SMILES/datasets/*.smi
Artificial Intelligence/molecule_generation_SMILES/datasets/gdb11/*smi
