<!DOCTYPE html>
<html>
<body>
<br><br><br>
<a href = "/">Home</a><body>_ _ _ _ _ _ </body><a href = "/data">Database</a><body>_ _ _ _ _ _ </body><a href = "/">Back</a>

<h2>Data-X Project</h2>

<br><br>
<form method="POST" action="/submit">
  <label for="lname">Enter Review:</label><br>
  <input type="text" id="review" name="review" value=""><br><br>
  <input type="submit" value="Submit">
</form> 

<br>
<p>Enter your movie review in the text box and click on submit to get the sentiment analysis done</p>


</body>
</html>


